[defaults]
inventory = inventory/local.ini
retry_files_enabled = False
host_key_checking = False
interpreter_python = auto_silent
local_tmp = /tmp/lgi-gentoo/ansible-local-tmp
remote_tmp = /tmp/lgi-gentoo/ansible-remote-tmp
stdout_callback = default
display_args_to_stdout = False
bin_ansible_callbacks = True
